/* COLOR SCHEME */

$primary: rgba(145, 206, 42, 1);
$secondary: rgba(245, 90, 106, 1);
$text: rgba(175, 175, 175, 1);
$light: rgba(255, 255, 255, 1);
$accent: rgba(0, 0, 0, 1);
$shadow: rgba(43, 1, 0, 0.75);
$form-shadow: rgba(43, 1, 0, 0.3); 
$btn_border: rgba(58, 154, 0, 1);

$main_slab: 'Titillium Web', sans-serif;

